body
{
	width: 100%;
	height: 100%;

}
/* div 
{
    width: 20%;
    border: 1px solid blue;
} */


#contenedor
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#post
{
	width: 30%;
	height: 100%;
	margin-top: 3%;

}

#formulario
{
	width: 30%;
	height: 100%;
	 border: 1px solid blue;
	 margin-top: 3%;
}

#filtro
{
	width: 15%;
	height: 10%;
	margin-top: 5%;
	margin-right: 5%;
}

#salir
{
	margin-top: 1.5%;
	
}